body {
    text-align: center;
    font-family: Helvetica;
    color: white;
}

#header {
    background-image: url(../images/the-flatiron-building.png);
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    font-size: 70px;
    font-weight: bold;
}

a {
    font-size: 18px;
    color: white;
}

#main {
    color: black;
    background-color: white;
    font-weight: bold;
}

h2 {
    font-size: 32px;  
}

h3 {
    font-size: 23px;
}

p {
    font-size: 14px;
    font-weight: normal;
}

#designed {
    color: white;
    background-image: url(../images/the-flatiron-building.png);
    background-repeat: no-repeat;
}

#footer {
    font-size: 11px;
    color: white;
    background-color: dimgray;
    text-align: left;
    background-repeat: no-repeat;
}